body {
	
	font-family: 'Oswald', sans-serif !important; 
	
}

header {
	background-color: #D6FFDD;

}



.navbar {
	 
	position: relative;
	overflow: visible;
	background-color: #272B26;
	font-size: 25px;
	height: auto;
}

.navbar div a {
	
	color: #EBF1E8;
	text-decoration: none;
}

.navbar div a:hover {
	
	color: #FFFFFF;
	font-size: 28px;
}

.navbar-centered-Home {

	float: none;
	position: absolute;
	top:50%;
	left:38%;
	transform: translate(-50%, -50%);
}

.navbar-centered-aboutus {

	float: none;
	position: absolute;
	top:50%;
	left:45%;
	transform: translate(-50%, -50%);
}

.navbar-centered-contact {

	float: none;
	position: absolute;
	top:50%;
	left:53%;
	transform: translate(-50%, -50%);
}

.dropdown {

	position: relative;
	display: inline-block;
	left: 58%;
	bottom:20%;
	color: #EBF1E8;
	text-decoration: none;
}
  
.dropdown-content {

	display: none;
	position: absolute;
	background-color: #272B26;
	color: #EBF1E8;
	font-size: 24px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 2;
}
  
.dropdown:hover .dropdown-content {

	display: block;
}

/* Pop-up kirjautuminen */
.form-popup {
  display: none;
  position: fixed;
  top: 288px;
  right: 200px;
  border: 3px solid #f1f1f1;
  z-index: 8;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: #272B26;
}

/* Mobiili versio navista */
@media screen and (max-width: 600px) {

	.navbar {

		height: 130px;
		font-size:20px;
	}

	.navbar div a {

	  	float: none;
		display: block;
	}
	
	.navbar-centered-Home {

	 	 position: relative;
	 	 top: 30%;
	 	 left: 1px;
	  	transform: none;
	}

	.navbar-centered-aboutus{

		position: relative;
		top: 30%;
		left: -3px;
		transform: none;
	  }

	  .navbar-centered-contact {

		position: relative;
		top: 30%;
		left: -10px;
		transform: none;
		
	  }.navbar-centered-logout {

	 	 position: relative;
	 	 top: 30%;
	 	 left: 1px;
	  	transform: none;
	}
	
	.navbar-centered-addproduct {

	float: none;
	position: relative;
	top:20%;
	left:45%;
	transform: translate(-50%, -50%);
	}


	.buttonKirjautuminen_div {
		
		position: relative;
		top: 35%;
		left: 30% !important;
		transform: none;
	  }

	  .buttonOstoskori_div {
		
		position: relative;
		top: 35%;
		left: 55% !important;
		transform: none;
		
	  }

	  .search-box {

		position: relative;
		top: 20% !important;;
		left: 44% !important;
		
	  }

	  .search_icon {

		float: right !important;
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		}

		.dropdown {
			
			left: -10px;
			top: 30%;
			
		}
  }
  

.buttonOstoskori_div {

	bottom: 20%;
	left: 72%;
	position: absolute;
}

.buttonKirjautuminen_div {

	bottom: 20%;
	left: 66%;
	position: absolute;
}

.button {

	background-color: white;
	border: none;
	color: #272B26;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
}

.search-box {

    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-5%, -50%);
	background: black;
    height: 40px;
    border-radius: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

.search-box:hover > .search-txt {

    width: 100px;
	padding: 0 6px;
}

.search-txt {

    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #939393;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

.search_icon {

    height: 40px;
    width: 40px;
    float: right;
	display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #2F2F2F;
    text-decoration:none;
}


.icon-bar {
	
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.icon-bar a {
	
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}

.icon-bar a:hover {
	
	background-color: #000;
}

.facebook {
	
	background: #3B5998;
	color: white;
}

.twitter {
	
	background: #55ACEE;
	color: white;
}

.google {
	
	background: #dd4b39;
	color: white;
}

.footer {
	
    background-color: #272B26;
    text-align: center;
	color: #EBF1E8;
	width: 100%;
	bottom: 0;
	position: fixed;
	overflow: auto !important;
}

address {
    
    font-size: 15px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 200%;
    height: 3px;
    background: #63B282;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}



h1{
	text-align: center;
}

table, th, td {
	
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black !important;
	border-collapse: collapse;
	
}

th, td {
	
	padding: 15px;
	text-align: left;
}
#margin {
	padding-top: 20px;
	padding-bottom: 60px;
}

#tuotelista tr:nth-child(even) {
	
	background-color: #eee;
}

#tuotelista tr:nth-child(odd) {
	
	background-color: #fff;
}

#tuotelista th {
	
	background-color: #272B26;
	color: white;
}