body{
	
	font-family: 'JetBrains Mono', monospace !important;
}

.navbar {
	position: relative;
	overflow: hidden;
	background-color: gainsboro;
	font-size: 25px;
	height: 40px;
}

.navbar div a {
	
    color: #9c1f65;
}

.navbar div a:hover {
	
    background-color: gray; 
	color: white;
}

.navbar-centered-Home{
	float: none;
	position: absolute;
	top:50%;
	left:44%;
	transform: translate(-50%, -50%);
}

.navbar-centered-aboutus{
	float: none;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.navbar-centered-contact{
	float: none;
	position: absolute;
	top:50%;
	left:57.5%;
	transform: translate(-50%, -50%);
}
/* Mobiili versio navista */
@media screen and (max-width: 600px) {

	.navbar {

		height: 80px;
		font-size:20px;
	}
	.navbar div a{
	  float: none;
	  display: block;
	}
	
	.navbar-centered-Home{
	  position: relative;
	  top: 30%;
	  left: 20px;
	  transform: none;
	}
	.navbar-centered-aboutus{
		position: relative;
		top: 30%;
		left: -40px;
		transform: none;
	  }
	  .navbar-centered-contact {
		position: relative;
		top: 30%;
		left: -100px;
		transform: none;
	  }

	.buttonKirjautuminen_div{
		
		position: relative;
		top: 10%;
		left: 5% !important;
		transform: none;
		
	  }
	  .buttonOstoskori_div{
		
		position: relative;
		top: 10%;
		left: 25% !important;
		transform: none;
		
	  }
	  .search-box {
		position: relative;
		top: 28% !important;;
		left: 60% !important;
		
	  }
	  .search_icon{

		float: right !important;
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		

		}


  }
  .buttonOstoskori_div{
	  bottom: 10%;
	  left: 70%;
	  position: absolute;
  }
  .buttonKirjautuminen_div{
	bottom: 10%;
	left: 66%;
	position: absolute;
}

  .button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
  }


  .search-box {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-5%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
	padding-left: 10px;
	padding-right: 10px;
   }

   .search-box:hover > .search-txt {
    width: 100px;
	padding: 0 6px;
   }



   .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }
   .search_icon{
    height: 40px;
    width: 40px;
    float: right;
	display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }


.icon-bar {
	
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.icon-bar a {
	
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}

.icon-bar a:hover {
	
	background-color: #000;
}

.facebook {
	
	background: #3B5998;
	color: white;
}

.twitter {
	
	background: #55ACEE;
	color: white;
}

.google {
	
	background: #dd4b39;
	color: white;
}

.content {
	
	margin-left: 75px;
	font-size: 30px;
}

.footer {
	
    background-color: gainsboro;
    text-align: center;
    width: 100%;
}

address {
    
    font-size: 15px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 200%;
    height: 3px;
    background: #9c1f65;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

